

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {

font-size: 50px;
font-family: "Source Sans 3";
font-weight: 300;
color: #563838;

}

.back-button{
        position: relative;
        bottom: 25%;
        font-size: 20px; 
        font-family: "Source Sans 3";
        font-weight: 300;
        color: #ffffff;
        text-align: center;   
        background-color: #7E8E65;
        width: 100px;
        height: 50px;
        top: 50%;
        transform: translate(0%, 1000%);
        &:hover {
                color: #ffffff;
                text-shadow: 0 0 2px #ffffff; 
                background: #64744b;
            }
        &:focus{
                outline:none;
            }
        
}

.sub-back-button{
        position: relative;
        bottom: 25%;
        transform: translate(-225%, 780%);
        font-size: 20px; 
        font-family: "Source Sans 3";
        font-weight: 300;
        color: #ffffff;
        text-align: center;   
        background-color: #7E8E65;
        width: 100px;
        height: 50px;
        top: 50%;
        left: 50%;
        &:hover {
                color: #ffffff;
                text-shadow: 0 0 2px #ffffff; 
                background: #64744b;
            }
        &:focus{
                outline:none;
            }
        
}

.checkin-button{
        position: absolute;
        bottom: 30%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-family: "Source Sans 3";
        font-weight: 300;
        color: #ffffff;
        text-align: center;   
        background-color: #7E8E65;
        width: 150px;
        height: 50px;
        &:hover {
                color: #ffffff;
                text-shadow: 0 0 2px #ffffff; 
                background: #64744b;
            }
        &:focus{
                outline:none;
            }
        
}