#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.main-screen {
    position: fixed;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.flower {
    position: fixed;
    width: 25%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -10%);
    filter: blur(1px);
    -webkit-filter: blur(0px);
    transition: opacity 1s ease-in-out; /* Smooth transition */
    opacity: 1; /* Default to fully visible */
}

.flower2 {
    position: fixed;
    width: 25%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: scale(-1, 1) translate(-100%, -10%);
    filter: blur(1px);
    -webkit-filter: blur(0px);
    transition: opacity 1s ease-in-out; /* Smooth transition */
    opacity: 1; /* Default to fully visible */
}

.fade-in {
    opacity: 1; /* Fully visible */
}

.fade-out {
    opacity: 0.3; /* Fully transparent */
}

.check-in-complete {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    color: #563838;
    height: 50px;
    width: 300px;
    border-radius: 8px;
    background-color: #efe2d0;
    font-family: "Source Sans 3";
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: text-shadow 0.25s;
    transform: translate(60%, -450%);
}

#hideMe {
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsive design for smaller screens */
@media (max-width: 500px) {
    .login-form {
        padding: 1.5rem;
    }

    .login-form h2 {
        font-size: 20px;
    }

    .login-form input[type="button"] {
        font-size: 14px;
    }
}
