/* Overlay for check-in questions, darkens background */
.overlay {
    position: fixed; /* Ensure it covers the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

/* Popup container */
.popup {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    background: #efe2d0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 640px;
    height: 700px;
    text-align: center;
    z-index: 1010; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Complete check-in button */
.complete-checkin {
    position: relative;
    border-radius: 20px;
    background: #7e8e65;
    color: white;
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    line-height: 0px;
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-125%, -650%);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: #64744b;
    }
    &:focus {
        outline: none;
    }
}

/* Closes popup X button */
.close-popup {
    position: absolute;
    border-radius: 20px;
    background: #7e8e65;
    color: white;
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    line-height: 0px;
    box-sizing: border-box;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 10px;
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translate(-25%, -300%);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: #64744b;
    }
    &:focus {
        outline: none;
    }
}

/* Date & Time in Popup */
.date-header {
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    position: relative;
    color: #563838;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800%);
}

/* Text design for Sleep questions */
.sleep-time {
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    position: relative;
    color: #563838;
    border-color: none;
    border-radius: 20px;
    width: 100%;
    border: 0px;
    outline: 0px;
    scroll-behavior: smooth;
    transform: translate(0%, -70%);
}

/* Set slider size */
.sleep-range {
        width: 100%;
        margin-top: 10px;
    }


/* Text design for Eat question */
.eat-amnt {
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    position: relative;
    color: #563838;
    border-color: none;
    border-radius: 20px;
    width: 100%;
    border: 0px;
    outline: 0px;
    scroll-behavior: smooth;
    transform: translate(0%, -200%);
}

/* Input design for Eat question */
.meals-input {
    background-color: white;
    font-family: "Source Sans 3";
    font-weight: 500;
    color: #563838;
    position: relative;
    border: #333;
    transform: translate(10%, -5%);
    border-radius: 10px;
    text-align: center;
    width: 50px;
    height: 30px;
    &:focus {
        outline: none;
    }
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

/* Text design for Exercise question */
.exercise-amnt {
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    position: relative;
    color: #563838;
    border-color: none;
    border-radius: 20px;
    width: 100%;
    border: 0px;
    outline: 0px;
    scroll-behavior: smooth;
    transform: translate(0%, -150%);
}

/* Input design for Exercise question */
.exercise-checkbox {
    margin-top: 10px;
    background-color: white;
    font-family: "Source Sans 3";
    font-weight: 500;
    position: relative;
    border: #333;
    transform: translate(10%, 20%);
    width: 25px;
    height: 25px;
    &:focus {
        outline: none;
    }
}

/* Text design for Relationship question */
.relationship-ln {
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    position: relative;
    color: #563838;
    border-color: none;
    border-radius: 20px;
    width: 100%;
    border: 0px;
    outline: 0px;
    scroll-behavior: smooth;
    transform: translate(0%, -100%);
}

/* Input design for Relationship question */
.relationship-select {
        margin-top: 10px;
        padding: 5px;
        font-size: 14px;
        background-color: white;
        font-family: "Source Sans 3";
        font-weight: 500;
        color: #563838;
        position: relative;
        border: #333;
        border-radius: 10px;
        transform: translate(5%, 0%);
        width: 200px;
        height: 50px;
        &:focus {
                outline: none;
    }
}

/* Back button design for Initial Emotion Wheel */
.back-button {
    position: relative;
    bottom: 25%;
    font-size: 20px;
    font-family: "Source Sans 3";
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    background-color: #7e8e65;
    width: 100px;
    height: 50px;
    top: 50%;
    transform: translate(0%, 520%);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: #64744b;
    }
    &:focus {
        outline: none;
    }
}

/* Back button design for Sub Emotion Wheels */
.sub-back-button {
    position: relative;
    bottom: 25%;
    transform: translate(-225%, 750%);
    font-size: 20px;
    font-family: "Source Sans 3";
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    background-color: #7e8e65;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: #64744b;
    }
    &:focus {
        outline: none;
    }
}

/* Emotion Wheel container */
.emotion-wheel {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    display: grid;
    place-items: center;
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    transform: translate(-50%, -70%);
    top: 50%;
    left: 50%;
}

/* Emotion Wheel cutout */
.cutout {
        display: grid;
        place-items: center;
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        transform: translate(0%, -60%);
        background: #eee6db;
    }

/* Sub Emotion Wheel container */
.sub-emotion-wheel {
    display: grid;
    place-items: center;
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    transform: translate(-50%, -70%);
    top: 50%;
    left: 50%;
}

/* Sub Emotion Wheel cutout */
.sub-cutout {
    display: grid;
    place-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(0%, -57%);
    background: #eee6db;
}

/* "How are"  in Emotion Wheels */
.centered-text-1 {
    position: absolute;
    font-family: "Source Sans 3";
    font-weight: 300;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 350%);
    font-size: 24px;
    color: #333;
    text-align: center;
}

/* "you feeling?"  in Emotion Wheels */
.centered-text-2 {
    position: absolute;
    font-family: "Source Sans 3";
    font-weight: 300;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 450%);
    font-size: 24px;
    color: #333;
    text-align: center;
}

/* Anxious */
.emotion-button-0 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #b13458, #c10a3f);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #c14266, #c10a3f);
    }
    &:focus {
        outline: none;
    }
}

/* Calm */
.emotion-button-1 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 0 100% 0 0;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #feb773, #ff7d00);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #f8b87d, #ff7d00);
    }
    &:focus {
        outline: none;
    }
}

/* Sad */
.emotion-button-2 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 0 0 100% 0;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #72b6f9, #5e81a4);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #80bbf5, #5e81a4);
    }
    &:focus {
        outline: none;
    }
}

/* Happy */
.emotion-button-3 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 0 0 0 100%;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #8be68b, #4fc54f);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #98eb98, #4fc54f);
    }
    &:focus {
        outline: none;
    }
}

/* Anxious */
.sub-emotion-button-0 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #b13458, #c10a3f);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: radial-gradient(circle, #c14266, #c10a3f);
    }
    &:focus {
        outline: none;
    }
}

/* Calm */
.sub-emotion-button-1 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 0 100% 0 0;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #feb773, #ff7d00);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: radial-gradient(circle, #f8b87d, #ff7d00);
    }
    &:focus {
        outline: none;
    }
}

/* Sad */
.sub-emotion-button-2 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 0 0 100% 0;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #72b6f9, #5e81a4);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #80bbf5, #5e81a4);
    }
    &:focus {
        outline: none;
    }
}

/* Happy */
.sub-emotion-button-3 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 0 0 0 100%;
    border: none;
    color: black;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #8be68b, #4fc54f);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #98eb98, #4fc54f);
    }
    &:focus {
        outline: none;
    }
}

/* Happy */

.Proud {
    background: radial-gradient(circle, #8be68b, #4fc54f);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #98eb98, #4fc54f);
    }
}

.Grateful {
    background: radial-gradient(circle, #8be68b, #4fc54f);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #98eb98, #4fc54f);
    }
}

.Joyful {
    background: radial-gradient(circle, #8be68b, #4fc54f);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #98eb98, #4fc54f);
    }
}

.Content {
    background: radial-gradient(circle, #8be68b, #4fc54f);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #98eb98, #4fc54f);
    }
}

/* Calm */

.Serene {
    background: radial-gradient(circle, #feb773, #ff7d00);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff;
        background: radial-gradient(circle, #f8b87d, #ff7d00);
    }
}

.Satisfied {
    background: radial-gradient(circle, #feb773, #ff7d00);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff;
        background: radial-gradient(circle, #f8b87d, #ff7d00);
    }
}

.Peaceful {
    background: radial-gradient(circle, #feb773, #ff7d00);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff;
        background: radial-gradient(circle, #f8b87d, #ff7d00);
    }
}

.Relaxed {
    background: radial-gradient(circle, #feb773, #ff7d00);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff;
        background: radial-gradient(circle, #f8b87d, #ff7d00);
    }
}

/* Sad */
.Lonely {
    background: radial-gradient(circle, #72b6f9, #5e81a4);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #80bbf5, #5e81a4);
    }
}

.Upset {
    background: radial-gradient(circle, #72b6f9, #5e81a4);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #80bbf5, #5e81a4);
    }
}

.Regretful {
    background: radial-gradient(circle, #72b6f9, #5e81a4);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #80bbf5, #5e81a4);
    }
}

.Hopeless {
    background: radial-gradient(circle, #72b6f9, #5e81a4);
    &:hover {
        color: #ffffff;
        background: radial-gradient(circle, #80bbf5, #5e81a4);
    }
}

/* Anxious */

.Uneasy {
    background: radial-gradient(circle, #b13458, #c10a3f);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: radial-gradient(circle, #c14266, #c10a3f);
    }
}

.Nervous {
    background: radial-gradient(circle, #b13458, #c10a3f);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: radial-gradient(circle, #c14266, #c10a3f);
    }
}

.Overwhelmed {
    background: radial-gradient(circle, #b13458, #c10a3f);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: radial-gradient(circle, #c14266, #c10a3f);
    }
}

.Worried {
    background: radial-gradient(circle, #b13458, #c10a3f);
    &:hover {
        color: #ffffff;
        text-shadow: 0 0 2px #ffffff;
        background: radial-gradient(circle, #c14266, #c10a3f);
    }
}
