@font-face {
    font-family: "Brown-Sugar";
    src: url(./fonts/brown-sugar.ttf) format("truetype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                      'embedded-opentype', and 'svg' */
}

/* Container for the login page */
.login-container {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eee6db;
    padding: 2rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Styling for the login form */
.login-form {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: #efe2d0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Form header */
.login-form h2 {
    position: relative;
    font-family: "Source Sans 3";
    font-weight: 300;
    font-size: 32px;
    right: 50%;
    bottom: 50%;
    transform: translate(10%, 265%);
    color: #000000;
    margin-bottom: 1rem;
}

/* Input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: black;
    border: 0px solid #000000;
    border-bottom-width: 1px;
    background-color: transparent;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: none;
    color: black;
}

.inputbox {
    font-family: "Source Sans 3";
}

/* Button styles */
.login-form input[type="button"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #7e8e65;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="button"]:hover {
    background-color: #64744b;
    text-shadow: 0 0 1px #ffffff;
}

/* Sign-up link styling */
.login-form .signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #000000;
}

.login-form .signup-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-form .signup-link a:hover {
    color: #0056b3;
}
